*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
*.hideme
*/*.hideme

*/LogInActivity.Java
LogInActivity.Java
/app/src/main/java/dlei/forkme/gui/activities/LogInActivity.java


app/src/main/java/dlei/forkme/gui/activities/LogInActivity.Java

app/src/main/java/dlei/forkme/gui/activities/LogInActivity.java

/ForkMe-Mobile/app/src/main/java/dlei/forkme/gui/activities/LogInActivity.java
ForkMe-Mobile/app/src/main/java/dlei/forkme/gui/activities/LogInActivity.java

ForkMe-Mobile/build/*
/ForkMe-Mobile/build/

ForkMe-Mobile/build/app/*
/ForkMe-Mobile/build/app/