<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dlei.forkme">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/forkme_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/forkme_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gui.activities.SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hardikgoswami.oauthLibGithub.OauthActivity" />
        <activity android:name=".gui.activities.github.TrendingRepositoriesActivity" />
        <activity android:name=".gui.activities.LogInActivity" />
        <activity android:name=".gui.activities.github.RepositoryViewActivity" />
        <activity android:name=".gui.activities.github.UserViewActivity" />
        <activity android:name=".gui.activities.github.OrganizationViewActivity" />
        <activity android:name=".gui.activities.InAppWebView" />
        <activity android:name=".gui.activities.AboutActivity" />
        <activity android:name=".gui.activities.BaseActivity" />
        <activity android:name=".gui.activities.github.MergeMeActivity" />
        <activity android:name=".gui.activities.github.UserStarsActivity" />
        <activity android:name=".gui.activities.github.UserRepositoriesViewActivity" />
        <activity android:name=".gui.activities.SettingsActivity" />
    </application>

</manifest>